extends layout

block content  
 body
    .grandpa.grandpa-flex
      .grandpa-content
        .parent
          .item
            .mailMerge Mail Merge
          .item empty
        .parent
          .item Enter names / emails (one per line):
          .item Enter the text.  The following solutions are valid:
            .requirements
              ul
                li {first}
                li {last}
                li {email}
        
        form(class='form' method="post" action='/')
          .parent
            .item Contacts:
              .contacts
                textarea(id='contacts', name='contacts', type='text', placeholder='first, last, email@example.com')
            .item Subject
              .subject
                textarea(id='subject', name='subject', type='text', placeholder='subject')
              .item Message
              .message 
                textarea(id='message', name='message', type='text', placeholder='message')
              .preview
              input(id ='preview', name='preview', type='submit', value='preview')
   
         //if updatePage   ?????
        .parent
          .recipientPreviews Recipient Previews
            #{preview}
            
     